<div class="showItem">
    <div class="singleItem" *ngFor="let team of teams">
        <mat-card class="normal-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{team.Name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-lg-image [src]="team.pictureSource" alt="Photo">
        </mat-card>
        <button (click)="getEmployeesInTeam(team.id)">Show Employees</button>
    </div>
</div>
<hr>
<div class="showItem">
    <div class="singleItem" *ngFor="let employee of employees">
        <mat-card class="normal-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{employee.firstName}}</mat-card-title>
                <mat-card-subtitle>{{employee.lastName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-lg-image [src]="employee.employeeImg" alt="Photo">
        </mat-card>

        <div *ngFor="let employee of employees">
            <p>Employee name: {{employee.firstName}}</p>
        </div>
    </div>
</div>