<form [formGroup]="editForm" id="editEmployee" (ngSubmit)="onSubmit()">
    <br>
    <label>NAME: </label>
    <input type="text" value="{{employee.firstName}}" formControlName="firstName">
    <br>
    <label>LAST NAME: </label>
    <input type="text" value="{{employee.lastName}}" formControlName="lastName">
    <br>
    <label>yearOfBirth: </label>
    <input type="text" value="{{employee.yearOfBirth}}" formControlName="yearOfBirth">
    <br>
    <label>vacationDays: </label>
    <input readonly type="text" value="{{employee.vacationDays}}" formControlName="vacationDays">
    <br>
    <input type="submit">
</form>