<header>
    <div class="headerTop">
        <div class="headerLeft">EMPLOYEE APP</div>
        <div class="headerRight">
            <!--<a href="/login">LOGIN    </a>-->
            <button (click)="logout()">LOGOUT</button>
        </div>
    </div>
    <div class="headerBottom" *ngIf="isLoggedIn">
        <div class="actionsLeft">
            <a href="/employees">EMPLOYEES  |   </a>
            <a href="/teams">TEAMS  |   </a>
            <a href="/userProp">USER PROPERTIES</a>
        </div>
        <div class="actionsRight">
            <a href="/newEmployee">NEW EMPLOYEE  |   </a>
            <a href="/addTeam">ADD TEAM</a>
        </div>
    </div>


</header>
<div>
    <router-outlet></router-outlet>
</div>